<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
  </head>
  <body>
    <h1>Welcome Home you safe Sassy</h1>
    <p>sorry about calling you a sassy...{{username_password.user}}</p>

<form class="" action="/" method="post">


      <input type="submit" name="logOut" value="logOut">
</form>
  </body>
</html>
