
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>authentic authentication</title>
  </head>
  <body>
    <h1>home</h1>
<form action="/logoutBttn" method="post">
  <input class"submitBttn" type="submit" name="logoutBtten" value="Log Out">
</form>
  </body>
</html>
