<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form class="" action="/login" method="post">
      <input type="text" name="username" placeholder="put your USERNAME here...">
      <input type="password" name="password" placeholder="put your PASSWORT here...">
      <input type="submit" name="subbttn" value="Submit">
    </form>
    {{#error}}
<p>Du werdest nie nach Hause sehen2</p>
    {{/error}}

  </body>
</html>
